#output {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px
}

.card {
    width: 20%;
    min-width: 200px;
    justify-content: space-between;
}

.card-details {
    justify-content: space-between;
    padding: 10px;
}

/* ----------- Show / Hide Platform Menu (Standart/mobile Version) ---------- */
.hidden {
    /* display: flex; */
}

#platform-buttons {
    /* display: flex; */
}

@media screen and (max-width: 440px) {

    #platform-buttons {
        flex-direction: column;
    }

    .hidden {
        display: none;
    }
}

@media screen and (min-width:439px) {

    #selectPlatform {
        display: none;
    }
}

/* -------------------------------------------------------------------------- */