header {
    background-image: url(../images/header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -50px;
    width: 100vw;
    height: 92vh;
    color: #fff;
    font-weight: bold;
}

#header {
    padding: 50px 0px 0px 30px;
    width: 60vw;
    text-shadow: 1.11px 1.11px 4.68px rgba(13, 11, 49, 0.6);
    margin-bottom: 20px;
}

#header > p {
    margin-top: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 16.72px;
}

header > a {
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;
    margin: 20px 0 0 30px;
    background-image: linear-gradient(to right, #51A3DF, #FF8690);
    border-radius: 66.89px;
}

.sticky {
    width: 100%;
    height: 8vh;
    background-color: #201E3D;
    justify-content: space-around;
    padding: 15px 20px;
}

#output {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px
}

.card {
    width: 20%;
    min-width: 200px;
    justify-content: space-between;
}

.card-details {
    justify-content: space-between;
    padding: 10px;
}

/* ----------- Show / Hide Platform Menu (Standart/mobile Version) ---------- */


@media screen and (max-width: 440px) {

    #platform-buttons {
        flex-direction: column;
    }

    .hidden {
        display: none;
    }
}

@media screen and (min-width:439px) {

    #selectPlatform {
        display: none;
    }
}

/* -------------------------------------------------------------------------- */